[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
